#ALONE CODER
# from my.telegram.org/apps
API_ID=31917810
API_HASH=fb45bd7f5e2273cff88dc3ff673b3f2e

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=-1003809958673

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://Karma:Nothing0000@cluster0.ewjnsh1.mongodb.net/?appName=Cluster0

OWNER_ID=8500707153

# pyrogram session from @StringFatherBot on telegram
SESSION=

# limits for the bot
QUEUE_LIMIT=200
DURATION_LIMIT=17000
PLAYLIST_LIMIT=200
